@charset "UTF-8";
body {
	background: #999999;
	font-family: Montserrat, "sans-serif";
	display: block;
	justify-content: center;
	color: #303030;
	text-align: center;
}

img {
 	width: 150px;
 	height: 200px;
	object-fit: cover;
}
.listeCarte {
	font-size: 28px;
	font-weight: 900;
	margin: auto;
  	width: 50%;
  	text-align: center;	
}
.listeCarte h1 {
	font-size: 28px;
	font-weight: 900;
}
.listeCarte h2 {
	font-size: 20px;
	font-weight: 400;
}

