@charset "UTF-8";
body {
	background: #999999;
	font-family: Montserrat, "sans-serif";
	display: block;
	justify-content: center;
	color: #303030;
}

img {
 	width: 150px;
 	height: 200px;
	object-fit: cover;
}