@charset "UTF-8";
nav 
{
    margin: 0px auto;
    width: 100%;
    height: 100px;
    background: #48435C;
    font-family: Montserrat, "sans-serif";
    color: white;
    font-size: 28px;
    font-weight: 500;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Montserrat, "sans-serif";
    color: white;
    font-size: 28px;
    font-weight: 500;
}

nav .main_pages .active
{
    background: #333333;
}
 
nav a:hover 
{
    background: #5A5766
}
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 100%;
        font-family: Montserrat, "sans-serif";
	    font-size: 20px;
	    font-weight: 500;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
        color: white;
        cursor: pointer;
        font-family: Montserrat, "sans-serif";
	    font-size: 28px;
	    font-weight: 500;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}